<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.backend.mapper.BookMapper">
    <!-- 通过id查询书 -->
    <select id="findBookById" parameterType="int" resultType="com.example.backend.Entity.Book">
        select * from book where id = #{id}
    </select>

    <!-- 查询所有书籍信息 -->
    <select id="getAllBooks" resultType="com.example.backend.Entity.Book">
        SELECT * FROM book
    </select>

    <!-- 通过作者查询书籍信息 -->
    <select id="findBookByAuthor" parameterType="int" resultType="com.example.backend.Entity.Book">
        SELECT * FROM book where author_id = #{author_id}
    </select>

    <!-- 通过Tag查询书籍信息 -->
    <select id="findBookByTag"  parameterType="java.lang.String" resultType="com.example.backend.Entity.Book">
        SELECT * FROM book where tag like '%${tag}'
    </select>

    <!--通过tag查找一个list的书籍，模糊匹配-->
    <select id="findBookByName" parameterType="java.lang.String" resultType="com.example.backend.Entity.Book">
        select * from book where book_name like '%${value}%'
    </select>


    <!--插入书籍信息-->
    <insert id="insertBook" parameterType="com.example.backend.Entity.Book">
        insert into book(book_name,brief_introduction,tag,author_id) values(#{book_name},#{brief_introduction},#{tag},#{author_id})
    </insert>

    <!--删除书籍信息-->
    <delete id="deleteBook" parameterType="java.lang.Integer">
        delete from book where book_id=#{book_id}
    </delete>

    <!-- 更新书籍信息 -->
    <update id="updateBook" parameterType="com.example.backend.Entity.Book">
        UPDATE book SET book_name = #{book_name}, brief_introduction = #{brief_introduction} WHERE book_id = #{book_id}
    </update>
</mapper>
