<!-- 这边的namespace一定要写完整正确（Mapper接口全限定类名） -->
<mapper namespace="com.example.backend.mapper.ContentMapper">
    <!-- 通过id查询用户 -->
    <select id="getContentById" parameterType="int" resultType="com.example.Entity.Contents">
        select * from contents where content_id = #{content_id}
    </select>

</mapper>
