<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 这边的namespace一定要写完整正确（Mapper接口全限定类名） -->
<mapper namespace="com.example.backend.mapper.UserMapper">
    <!-- 通过id查询用户 -->
    <select id="findUserById" parameterType="int" resultType="com.example.backend.Entity.User">
        select * from user where open_id = #{id}
    </select>

    <!-- 查询所有用户信息 -->
    <select id="getAllUsers" resultType="com.example.backend.Entity.User">
        SELECT * FROM users
    </select>

    <!--通过name查找一个list的用户，模糊匹配 TODO:这个可以用在书的查找上-->
    <select id="findUserByName" parameterType="java.lang.String" resultType="com.example.backend.Entity.User">
        select * from user where name like '%${value}%'
    </select>

    <!--插入用户信息-->
    <insert id="insertUser" parameterType="com.example.backend.Entity.User">
        insert into user(open_id,name,image,news) values(#{open_id},#{name},#{image},#{news})
    </insert>

    <!--删除用户信息-->
    <delete id="deleteUser" parameterType="java.lang.Integer">
        delete from user where open_id=#{id}
    </delete>

    <!-- 更新用户信息 -->
    <update id="updateUser" parameterType="com.example.backend.Entity.User">
        UPDATE user SET name = #{name}, image = #{image},news= #{news} WHERE open_id = #{open_id}
    </update>
</mapper>
